:root {
    --primary: #3e819b;
    --secondary: #974c91;
    --borderColor: #ccc;
    --border: 1px solid var(--borderColor);
    --light: white;
    --dark: #444;
    --corners: 8px;
    direction: rtl;

}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    /* direction: rtl; */
    text-align: right;
}

header {
	display: flex;
	align-items: center;
	font-size: 12px;
	gap: 40px;
	background-color: var(--primary);
	color: var(--light);
    padding: 5px;
}

nav a {
    color: var(--light);
    display: inline-block;
    min-width: 80px;
    text-decoration: none;
    transition: all 300ms;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav a:hover {
    background-color: var(--secondary);
    border-radius: var(--corners);
}

/* TASKS STYLES */
.tasks {
	width: 600px;
	margin: 10px auto;
	border: var(--border);
	padding: 15px;
	border-radius: var(--corners);
}


/* END TASKS STYLES */